:root {
  --primary-color: #90b9bb;
  --secondary-color: #ab9bda;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --extra-light: #e2e8f0;
  --white: #0a0909;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  text-align: center;
  color: var(--text-dark);
}

.section__subheader {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

img {
  display: flex;
  width: 45%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  position: relative;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--white);
  background-color: var(--secondary-color);
}

.nav__logo a::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: var(--secondary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.link a:hover {
  color: var(--secondary-color);
}

.header__container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.header__content {
  padding: 5rem 0;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--header-font);
  color: var(--white);
}

.header__content .btn {
  position: relative;
  padding: 1rem 2rem;
  margin-right: 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.header__content .btn::after {
  position: absolute;
  content: "";
  top: 0;
  right: -10px;
  height: 100%;
  width: 5px;
  background-color: var(--secondary-color);
}

.header__content a {
  font-size: 1.2rem;
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.header__image img {
  max-width: 550px;
  margin: auto;
}

.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #3996b3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__col p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--white);
}

.footer__col form {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.footer__col input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--white);
}

.footer__col button {
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1rem;
  color: var(--secondary-color);
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__col:nth-child(3) a {
  display: block;
  margin-bottom: 1rem;
  color: var(--white);
  transition: 0.3s;
}

.footer__col:nth-child(3) a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  font-size: 0.9rem;
  padding: 1rem;
  color: var(--white);
  text-align: center;
}